body {
    background-color:black; 
    font-family: arial; 
    color: white;
}
h1{
    color:grey; 
    font-family: verdana;
}
div.maindiv {
    background-color:white; color: black; 
    width: 500px; padding:20px;
    border-radius: 25px;
    margin: auto;
   
}
div.main{
    margin: 8% 15%;
}

div.grid{
    display: grid;
    grid-template-columns: max-content auto ;
}

span#num {
    background-color:yellow;
}